.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.pagination li {
  margin: 0 4px;
}
.pageItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: none;
}
.active {
  background-color: #000;
  color: #fff;
}